/* Soluzione qui */



@media screen and (min-width:768px) {
    
    #topbar{
        justify-content: start;
    }
    
    .container{
        padding: 20px 0;
    }
    
    .recipe-name{
        font-size: 30px;
    }
    
    .recipe-origin {
        display: inline;
    }
    
    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    
    
    .social-networks button {
        flex-grow: 1;
    }
    
    .ads{
        display: block;
    }
    
    .clearfix::after{
        content: "" ;
        display: table;
        clear: both;
    }
    
    .clearfix img{
        float: left;
        margin-right: 15px;
    }
}






@media screen and (min-width: 992px) {
    
}