/* Soluzione qui */



@media screen and (min-width:768px) {
    
    #topbar{
        justify-content: start;
    }
    
    .container{
        padding: 20px 0;
    }
    
    .recipe-name{
        font-size: 2em;
    }
    
    .recipe-origin {
        display: inline;
    }
    
    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    
    
    .social-networks button {
        flex-grow: 1;
    }
    
    .ads{
        display: block;
    }
    
    .clearfix::after{
        content: "" ;
        display: table;
        clear: both;
    }
    
    .clearfix img{
        float: left;
        margin-right: 15px;
    }
}






@media screen and (min-width: 992px) {
    
    .container{
        max-width: none;
        margin: 0 200px;
    }
    .recipe-name{
        font-size: 3em;
    }

    .recipe-card{
        display: flex;
    }

    .recipe-video{
        width: 80%;
        flex-grow: 1;
    }

     .quick-notes ul{
        display: block;
    }

    
    .social-networks .label {
	display: inline;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }
}